<div id="sidebar-left" class="sidebar-left shadow-sm">
  <div>
    <h5>Grupy zadań</h5>
    <ul id="task-groups-list" class="nav flex-column">
      <!-- Linki do grup generowane dynamicznie -->
      <li class="nav-item">
        <a class="nav-link active" href="#">Wszystkie zadania</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">praca</a>
      </li>
    </ul>
  </div>

  <!-- Panel użytkownika jako przycisk na dole -->
  <a id="user-panel-btn" href="/user">Panel użytkownika</a>
</div>
