<div id="sidebar-left" class="sidebar-left shadow-sm">
  <div>
    <h5>Grupy zadań</h5>
    <ul id="task-groups-list" class="nav flex-column">
      <!-- Linki do grup generowane dynamicznie -->
      <li class="nav-item">
        <a class="nav-link active" href="#">Wszystkie zadania</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">praca</a>
      </li>
    </ul>
  </div>

  <div id="panel-buttons" class="d-flex flex-column">
    <a id="calendar-panel-btn" href="/calendar">Kalendarz</a>
    <a id="user-panel-btn" href="/user">Panel użytkownika</a>
  </div>
</div>
