<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlanIt</title>
    <link
      rel="stylesheet"
      href="node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1>Logowanie</h1>

    <form id="login-form" action="/login" method="POST">
      <label for="login">Login:</label>
      <input type="text" name="login" id="login" required /><br />

      <label for="password">Hasło:</label>
      <input type="password" name="password" id="password" required /><br />

      <button type="submit">Zaloguj się</button>
      <p>Nie masz konta? <a href="/register">Zarejestruj się</a></p>

      <div id="error-message" style="color: red"></div>
    </form>

    <script>
      document
        .getElementById("login-form")
        .addEventListener("submit", async function (e) {
          e.preventDefault();

          const login = document.getElementById("login").value;
          const password = document.getElementById("password").value;

          try {
            const response = await fetch("/login", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ login, password }),
            });

            const data = await response.json();

            if (response.ok) {
              // Logowanie udane, przekieruj użytkownika
              window.location.href = "/main";
            } else {
              // Wyświetl komunikat o błędzie
              document.getElementById("error-message").innerText = data.error;
            }
          } catch (error) {
            console.error("Błąd:", error);
            document.getElementById("error-message").innerText =
              "Wystąpił błąd.";
          }
        });
    </script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
