<!DOCTYPE html>
<html>
  <head>
    <title>Strona główna</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Witaj, <%= user.login %>!</h1>
    <p>To jest Twoja strona główna.</p>
    <p><a href="/logout">Wyloguj się</a></p>
  </body>
</html>
