.content {
  margin-left: 15%; /* przesunięcie main o szerokość lewego sidebar */
  padding: 1rem;
  margin-top: 56px; /* wysokość navbaru */
  transition: margin-right 0.3s ease;
}

/* przesunięcie main w lewo przy aktywnym prawym sidebar */
.content.shifted-right {
  margin-right: 20%;
}

.task-item {
  cursor: default;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
