<div
  class="modal fade"
  id="addGroupModal"
  tabindex="-1"
  aria-labelledby="addGroupModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="addGroupModalLabel">Dodaj nową grupę</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Zamknij"
        ></button>
      </div>
      <div class="modal-body">
        <form id="add-group-form">
          <div class="mb-3">
            <label for="new-group-name" class="form-label">Nazwa grupy</label>
            <input
              type="text"
              class="form-control"
              id="new-group-name"
              placeholder="Wpisz nazwę nowej grupy"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Anuluj
        </button>
        <button type="button" class="btn btn-primary" id="save-group-btn">
          Dodaj grupę
        </button>
      </div>
    </div>
  </div>
</div>
