<div
  class="modal fade"
  id="deleteUserConfirmationModal"
  tabindex="-1"
  aria-labelledby="deleteUserConfirmationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="deleteUserConfirmationModalLabel">
          Potwierdzenie usunięcia konta
        </h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Zamknij"
        ></button>
      </div>
      <div class="modal-body">Czy na pewno chcesz usunąć swoje konto?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Anuluj
        </button>
        <button type="button" class="btn btn-danger" id="confirmDeleteUser">
          Usuń konto
        </button>
      </div>
    </div>
  </div>
</div>
